# Runtime
NODE_ENV=development

# API
API_PORT=3003
API_HOST_PORT=3003

# Web
WEB_HOST_PORT=4200

# MySQL
MYSQL_HOST_PORT=3306
MYSQL_DATABASE=project_nps
MYSQL_USER=project_nps
MYSQL_PASSWORD=project_nps
MYSQL_ROOT_PASSWORD=root
DATABASE_URL=mysql://project_nps:project_nps@mysql:3306/project_nps

# Redis
REDIS_HOST_PORT=6379
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=your-secret-here
